*.class
*.log

# idea
/.idea
/target
*.iml

.venv/
venv/
venv_p/
dist/
*.egg-info/
build/
### Mac ###
.DS_Store

*pycache*
data/
donotshare.md
temp.py
experiments_notebook.ipynb
job_extended.py
test_data_output/*
